@namespace LIUMarketplace.UI.Components
<div class="container">
    
<div class="mb-5">
    <MudText Typo="Typo.h6">Browse By Campus</MudText>
</div>
<MudGrid Spacing="@spacing" Justify="Justify.FlexStart">
    <MudItem xs="6" sm="4" md="2">
        <MudPaper Class="pa-16 mb-2">
            <MudText Typo="Typo.h6" Color="Color.Primary" Style="@_textStyle" @onclick='() => OnViewEvent("Beirut")'>Beirut</MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="4" md="2">
        <MudPaper Class="pa-16 mb-2">
            <MudText Typo="Typo.h6" Color="Color.Primary" Style="@_textStyle" @onclick='() => OnViewEvent("Beqaa")'>Beqaa</MudText>

        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="4" md="2">
        <MudPaper Class="pa-16 mb-2">
            <MudText Typo="Typo.h6" Color="Color.Primary" Style="@_textStyle" @onclick='() => OnViewEvent("Saida")'>Saida</MudText>

        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="4" md="2">
        <MudPaper Class="pa-16 mb-2">
            <MudText Typo="Typo.h6" Color="Color.Primary" Style="@_textStyle" @onclick='() => OnViewEvent("Nabatieh")'>Nabatieh</MudText>

        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="4" md="2">
        <MudPaper Class="pa-16 mb-2">
            <MudText Typo="Typo.h6" Color="Color.Primary" Style="@_textStyle" @onclick='() => OnViewEvent("Tripoli")'>Tripoli</MudText>

        </MudPaper>
    </MudItem>

     <MudItem xs="6" sm="4" md="2">
        <MudPaper Class="pa-16 mb-2">
            <MudText Typo="Typo.h6" Color="Color.Primary" Style="@_textStyle" @onclick='() => OnViewEvent("Tyre")'>Tyre</MudText>

        </MudPaper>
    </MudItem>
     <MudItem xs="6" sm="4" md="2">
        <MudPaper Class="pa-16 mb-2">
            <MudText Typo="Typo.h6" Color="Color.Primary" Style="@_textStyle" @onclick='() => OnViewEvent("Rayak")'>Rayak</MudText>

        </MudPaper>
    </MudItem>
     <MudItem xs="6" sm="4" md="2">
        <MudPaper Class="pa-16 mb-2">
            <MudText Typo="Typo.h6" Color="Color.Primary" Style="@_textStyle" @onclick='() => OnViewEvent("Akkar")'>Akkar</MudText>
        </MudPaper>
    </MudItem>
</MudGrid>
</div>


<style>
    .container{
        padding: 40px;
    }
</style>
