@namespace LIUMarketplace.UI.Components

<div class="container white">


    <MudGrid Spacing="@spacing" Justify="Justify.FlexStart">
        <MudItem xs="1" sm="6" md="3">

            <MudText Class="mb-5" Typo="Typo.h6">LIU Marketplace</MudText>
            <MudText Class="mb-5" Typo="Typo.body1" Style="@($"color:{Colors.Grey.Lighten1};")" >Copyright @@ 2022</MudText>
            <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />
            <MudIconButton Icon="@Icons.Custom.Brands.Instagram" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />
            <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />
            <MudIconButton Icon="@Icons.Custom.Brands.YouTube" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />

        </MudItem>

        <MudItem xs="1" sm="6" md="3">
            <MudText Class="mb-5" Typo="Typo.h6">Products</MudText>
            <MudLink Class="mb-3 d-block" Href="#">Latest products</MudLink>
            <MudLink Class="mb-3 d-block" Href="#">Top products</MudLink>
            <MudLink Class="mb-3 d-block" Href="#">All products</MudLink>
        </MudItem>

        <MudItem xs="1" sm="6" md="3">
            <MudText Class="mb-5" Typo="Typo.h6">Company</MudText>
            <MudLink Class="mb-3 d-block" Href="#">About Us</MudLink>
            <MudLink Class="mb-3 d-block" Href="#">contact Us</MudLink>
            <MudLink Class="mb-3 d-block" Href="#">Blog</MudLink>
        </MudItem>
        <MudItem xs="1" sm="6" md="3">
            <MudText Class="mb-5" Typo="Typo.h6">Pages</MudText>
            <MudLink Class="mb-3 d-block" Href="#">My Account </MudLink>
            <MudLink Class="mb-3 d-block" Href="#">My Cart</MudLink>
            <MudLink Class="mb-3 d-block" Href="#">My Favorite</MudLink>
        </MudItem>

    </MudGrid>
</div>
@code {
    public int spacing { get; set; } = 2;
}

<style>
    .container {
        padding: 40px;
        margin-top: 40px;
    }
    .container.white {
        background-color: #fff;

    }

</style>

